body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background: linear-gradient(135deg, #8fc7f1, #7173f5);
}

#cursor {
    width: 3em;
    height: 3em;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(16, 0, 54, 0.2);
}