body {
    display: grid;
    place-content: center;
    height: 90vh;

    background-color: #212121;
}

.container {
    width: 30em;
    position: relative;
}

.container img {
    width: 100%;
    border-radius: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#two {
    clip-path: inset(0 50% 0 0);
    /* transition: all 0.2s; */
}

.slider {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

input[type = "range"] {
    width: 100%;
}